@model Blog.Web.Models.ViewModels.HomeViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8" style="height: 50vh;">
	<div class="row align-items-center py-5">
		<div class="col-12 col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">
				The Dev Blog
			</h1>
			<p class="lead">
				This is the home to coding blogs covering a vast range of
				topics like HTML, CSS, JavaScript, ASP.NET, C#, Angular etc.
				Want to read the latest dev articles? Join the Blog app and
				get weekly blogs in your email.
			</p>
		</div>
		<div class="col-12 col-lg-6">
			<img class="d-block mx-lg-auto img-fluid"
				 src="https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg"
				 alt="Dev Blogs" style="max-width: 400px;" />
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-6 d-flex">
			@if(Model is not null && Model.Tags.Any())
			{
				foreach (var tag in Model.Tags)
				{
					<span class="badge bg-dark me-1">@tag.Name</span>
				}
			}

		</div>
	</div>
</div>

<div class="container" style="max-width: 700px">
	<div class="row justify-content-center">
		<div class="col-12">
			@if (Model is not null && Model.Posts.Any())
			{
				foreach (var post in Model.Posts)
				{
					<div class="mb-5 bg-light box-shadow">
						<img src="@post.FeaturedImageUrl" alt="post.Heading" class="mb-2 d-block img-fluid" />
						<h2 class="mb-4">@post.Heading</h2>
						<p class="mb-4">
							Author: @post.Author
							<br />
							Published Date: @post.PublishedDate.ToShortDateString()
						</p>
						<p class="mb-4">
							@foreach (var tag in post.Tags)
							{
								<span class="badge bg-secondary me-1">@tag.Name</span>
							}
						</p>
						<p class="mb-4">@post.ShortDescription</p>
						<a class="btn btn-dark"
						   asp-area=""
						   asp-controller="Posts"
						   asp-action="Index"
						   asp-route-urlHandle="@post.UrlHandle">
							Read More
						</a>
					</div>
				}
			}
		</div>
	</div>
</div>